ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  gap: 20px;
}

.form > div {
  margin-bottom: 1rem;
}

.form > div > label {
  display: block;
}

.form > div > input,
textarea {
  padding: 0.7rem;
}
